/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/



/*

    all in app html head now
*/

#app {
    width: 100vw;
    height: 100vh;
}

.paragraph-wrapper {
    text-indent: 2rem;
    opacity: 65%;
}

.link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 16px 32px 16px 32px;
    max-width: 1000px;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 0px;
    border-bottom: white 1px solid;
}

.worked-date-wrapper {
    font-size: .75rem;
    text-align: center;
    opacity: 35%;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--link-active-hover);
        text-decoration: underline;
    }
}

.image-caption {
    opacity: 35%;
    font-size: .75rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
    :root {
        font-size: 16px;
    }

    .content-wrapper {
        padding-top: 6rem;
    }

    .fisherman-wrapper {
        display: none;
    }

    .button-wrapper {
        display: none;
    }

    .sidebar-wrapper {
        display: flex;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 993px) {
    :root {
        font-size: 20px;
    }

    
    .fisherman-wrapper {
        display: block;
    }

    .button-wrapper {
        display: flex;
    }

    .sidebar-wrapper {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        font-size: 26px;
    }

    .fisherman-wrapper {
        display: block;
    }

    .button-wrapper {
        display: flex;
    }

    .sidebar-wrapper {
        display: none;
    }
}


/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
