/*
    Josh's Custom CSS Reset
    https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;

}

:root {
    font-family: 'Genos', sans-serif;
    font-family: 'League Spartan', sans-serif;
    background-color: #05041a;
    color: white;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/*
    eding arround here
*/

#app {
    width: 100vw;
    height: 100vh;
}

.paragraph-wrapper {
    text-indent: 2rem;
    opacity: 65%;
}

.link-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 16px 32px 16px 32px;
    max-width: 1000px;
    align-items: center;
}

.divider-line {
    width: 100%;
    height: 0px;
    border-bottom: white 1px solid;
}

.worked-date-wrapper {
    font-size: .75rem;
    text-align: center;
    opacity: 35%;
}

a {
    text-decoration: none;

    &:hover {
        color: rgb(201, 41, 143);
        text-decoration: underline;
    }
}

.image-caption {
    opacity: 35%;
    font-size: .75rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 600px) {
    :root {
        font-size: 1.25rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        font-size: 1.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root {
        font-size: 2rem;
    }
}


/* @media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
